* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --first-color: #081b29;
    --second-color: #112e42;
    --third-color: #c5c6ce;
    --fourth-color: #00abf0;
    --Almost-White: #fffdfa;
    --Dark-Space-Blue: #00001a;
    --background-image-light: url("../images/Ayomide.jpg");
    --background-image-dark: url("../images/Ayomide-1.jpg");
    --button-color: #081b29;
    --button-text-color: #00abf0;
    /* --Silver: #c5c6ce; */
}

.dark-mode {
    --first-color: #fffdfa;
    --second-color: #112e42;
    --third-color: #081b29;
    --fourth-color: #00abf0;
    --Almost-White: white;
    --Dark-Space-Blue: #00001a;
    --button-color: #00abf0;
    --button-text-color: #081b29;
}

.dark-mode .home {
    background: var(--background-image-dark);
    position: relative;
}

.dark-mode .btn-box .btn:nth-child(1):hover {
    border: .20px solid #00abf0;
}

.dark-mode .education-content .content::before {
    background: #112e42;
}

.dark-mode .skills-box .skills-content::before {
    background: #112e42;
}

.dark-mode .project-layer a i {
    color: #00abf0;
}

.dark-mode .testimonial-wrapper .testimonial-box {
    background: #081b29;
}

.dark-mode .testimonial-content .testimonial-slide {
    border-top: 10px solid #00abf0;
    border-bottom: 10px solid #00abf0;
}

.dark-mode .testimonial-slide img {
    border: 3px solid #081b29;
    outline: 3px solid var(--button-color);
}

.dark-mode .contact form .focus {
    background: #112e42;
}

html {
    font-size: 62.5%;
    width: 100%;
    /* overflow-x: hidden; */
}

body {
    background-color: var(--third-color);
    /* color: var(--Almost-White);   */
    position: relative;
    max-width: fit-content;
}

section {
    min-height: 100vh;
    padding: 100px 9% 30px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--third-color);
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: var(--first-color);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
    color: var(--fourth-color);
}

.navbar {
    position: relative;
    margin-left: 12%;
}

.navbar a {
    font-size: 15px;
    color: var(--first-color);
    font-weight: bold;
    margin-left: 20px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--fourth-color );
}

#menu-icon {
    position: relative;
    font-size:40px;
    color: var(--first-color);
    cursor: pointer;
    display: none; 
}

#darkMode-icon {
    position: relative;
    font-size: 25px;
    color: var(--first-color);
    cursor: pointer;
    /* margin-left: 40px; */
}

#darkMode-icon:hover {
    transform: scale(1.1);
    color: #00abf0;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: var(--background-image-light) no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 600px;
    /* z-index: 1; */
}

.home-content h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--first-color);
}


.home-content h3 {
    font-size: 30px;
    font-weight: 700;
    color: var(--first-color);
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 20px;
}

.home-content h3 .multiple-text {
    color: var(--button-color);
    font-size: 30px;
    font-weight: 700;
    -webkit-text-stroke: .9px #00abf0;
}

.home-content p {
    font-size: 14px;
    color: var(--first-color);
    margin: 20px 0 35px;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 45px;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--button-color);
    /* border: .20px solid var(--button-color); */
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1px;
    color: var(--fourth-color);
    z-index: 1;
    overflow: hidden;
}

.btn-box .btn:nth-child(1) {
    color: var(--button-text-color);
}

.btn-box .btn:nth-child(1):hover {
    color: var(--button-color);
    border: none;
}

.btn-box .btn:nth-child(2) {
    color: var(--button-color);
    background: transparent;
    border: .20px solid var(--button-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--button-text-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--button-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--button-text-color);
    /* border: .20px solid red; */
    /* color: var(--Almost-White); */
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.social-media {
    padding-top: 20px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    /* border: .20px solid var(--fourth-color); */
    border-radius: 50%;
    font-size: 20px;
    color: var(--button-color);
    margin: 30px 1 30px 0;
    transition: .5s ease;
    z-index: 10;
}

.social-media a:hover {
    background: var(--button-color);
    color: var(--button-text-color);
    box-shadow: 0 0 5px var(--Dark-Space-Blue);
    z-index: 10;
}

/* .Ayomide-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: transparent;
    transition: 1s;
} */

/* .Ayomide-imgHover:hover {
    background: #71706e;
    opacity: .15;
} */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* background: var(); */
    /* padding-bottom: 10px; */
    padding-bottom: 40px;
}

.about h2 {
    position: relative;
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    gap: 15px;
    color: var(--first-color);
}

.about .heading span {
    font-size: 50px;
    color: #00abf0;
}

.about-img {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .20px solid var(--button-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 110%;
    height: 110%;
    border-radius: 50%;
    border-top: .10px solid var(--third-color);
    border-bottom: .10px solid var(--third-color);
    border-right: .10px solid var(--button-color);
    border-left: .10px solid var(--button-color);
    animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: center;
}

.about-content .multiple-text1 {
    position: relative;
    display: inline-block;
    font-size: 30px;
    color: var(--button-color);
    font-weight: 700;
}

.about-content p {
    /* position: relative; */
    font-size: 16px;
    margin: 20px 0 30px;
    color: var(--first-color);
    line-height: 1.4;
    max-width: 700px;
}

.btn-box.btns {
    display: inline-block;
    width: 150px;
} 

.education {
    /* display: none; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 50px;
    color: var(--first-color);
    /* background: var(--Silver); */
}

.education .heading {
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.Journey {
    font-size: 50px;
    color: #00abf0;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.education-row .education-column {
    flex: 1 1 40px;
}

.education-column .title {
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
}

.education-column .education-box {
    border-left: 2px solid var(--button-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 20px;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -11px;
    width: 20px;
    height: 20px;
    background: var(--button-color);
    border-radius: 50%;
    z-index: 0;
}

.education-content .content {
    position: relative;
    padding: 15px;
    border: .20px solid var(--button-color);
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    z-index: 5;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 15px;
    color: var(--button-color);
    padding-bottom: .50px;
}

.education-content .content .year i {
    padding-right: 1px;
}

.education-content .content h3 {
    font-size: 20px;
    padding-top: 3px;
}

.education-content .content p {
    font-size: 16px;
    padding-top: 3px;
}

.skills {
    /* display: none; */
    min-height: auto;
    /* padding-bottom: 70px; */
    /* background: var(--Silver); */
    align-items: center;
}

.skills .heading {
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--first-color);
    gap: 20px;
    padding-bottom: 20px;
}

.skills .heading span {
    font-size: 50px;
    color: #00abf0;
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.skills-row .skills-column {
    flex: 1 1 400px;
}

.skills-column .title {
    font-size: 25px;
    margin: 0 0 15px;
    color: var(--first-color);
}

.skills-box .skills-content {
    position: relative;
    border: 1px solid var(--button-color);
    border-radius: 5px;
    padding: .50px 15px;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: grey;
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%
}

.skills-content .progress {
    padding: 10px 0px;
}

.skills-content .progress h3 {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: var(--first-color);
}

.percentage {
    font-size: 20px;
    color: #00abf0;
    -webkit-text-stroke: none;
}

.skills-content .progress .bar {
    height: 25px;
    border-radius: 5px;
    border: .20px solid var(--button-color);
    padding: 3px;
    margin: 10px 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: 5px;
    background: var(--button-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 66%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 65%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 78%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 73%;
}

.projects {
    /* display: none; */
    padding-bottom: 100px;
    /* background: var(--Silver); */
}

.projects .heading {
    padding-bottom: 20px;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--first-color);
    gap: 20px;
}

.projects .heading span {
    font-size: 50px;
    color: #00abf0;
}


.projects .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 25px;
}

.project-container .project-box {
    position: relative;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    overflow: hidden;
    z-index: 10;
}

.project-box img {
    width: 100%;
    transition: 0.5s ease;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--button-color));
    color: var(--Almost-White);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    opacity: 0;
    transition: 0.5 ease;
}

.project-box:hover .project-layer {
    opacity: 1;
}

.project-layer h4 {
    font-size: 30px;
}

.project-layer p {
    font-size: 16px;
    margin: .30px 0 10px;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: var(--button-text-color);
    border-radius: 50%;
}

.project-layer a i {
    font-size: 20px;
    color: #333;
}

.testimonial-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 50px 10px;
    /* background: var(--Silver); */
}

.testimonial-container .heading {
    padding-bottom: 10px;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--first-color);
    gap: 20px;
}

.testimonial-container .heading span {
    font-size: 50px;
    color: #00abf0;
}

.testimonial-container .testimonial-wrapper {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 30px;
}

.testimonial-wrapper .testimonial-box {
    background: grey;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
}

.testimonial-content .testimonial-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--button-text-color);
    border-radius: 20px;
    box-shadow: 0 .10px .50px black;
    padding: 30px 50px;
    border-top: 10px solid var(--first-color);
    border-bottom: 10px solid var(--first-color);
}

.testimonial-slide img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--Almost-White);
    outline: 3px solid var(--button-color);
}

.testimonial-slide h3 {
    font-size: 25px;
    margin: 20px 0;
    color: var(--first-color);
}

.testimonial-slide p {
    font-size: 14px;
    text-align: center;
    color: var(--first-color);
}

/* .testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
    color: green;
} */

.testimonial-box .swiper-button-next {
    right: 0;
    color: var(--button-color);
}

.testimonial-box .swiper-button-prev {
    left: 0;
    color: var(--button-color);
}

.testimonial-box .swiper-pagination-bullet-active {
    background: var(--button-color);
}

.contact {
    /* display: flex; */
    /* min-height: auto; */
    padding-bottom: 30px;
    /* background: var(--Silver); */
}

.contact .heading {
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--first-color);
    gap: 20px;
    padding-bottom: 20px;
}

.contact .heading span {
    font-size: 50px;
    color: #00abf0;
}

.contact form {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: 3px 0;
    z-index: 1;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 16px;
    color: var(--button-color);
    background: transparent;
    border-radius: 5px;
    border: 1px solid var(--button-color);
}

.contact form .input-box .input-field input::placeholder
.contact form .textarea-field textarea::placeholder {
    color: var(--button-color);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00abf0;
    border-radius: 5px;
    z-index: -1;
    transition: .5s;
}
 
.contact form .input-box .input-field input:hover~.focus,
.contact form .input-box .input-field input:valid~.focus {
    width: 100%;
}

.contact form .textarea-field textarea:hover~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: 3px 0 27px;
    display: flex;
    z-index: 1;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 9%;
    background: var(--button-color) 100%;
    padding-top: 10px;
}

.footer .footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background: var(--button-text-color);
    border: 4px solid var(--button-text-color);
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--button-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 20px;
    color: var(--button-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--button-text-color);
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
        max-width: 100vw;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 20px;
    }

    section {
        padding: 100px 20px;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 20px 4%;
    }
}

@media (max-width: 768px) {
    /* body{
        
    } */
    .container {
        width: 100%;
    }
    .header {
        background: silver;
        width: 100vw;
    }

    .dark-mode .header {
        background: transparent;
    }

    .icons {
        display: flex;
    }

    #menu-icon {
        display: block;
        /* margin-left: 80%; */
        /* align-self: flex-end; */
        /* margin-right: auto; */
    }

    #darkMode-icon {
        /* position: absolute;
        right: 70px; */
        font-size: 26px;
        color: var(--button-color);
        /* margin-left: 1px; */
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 100%;
        width: 100%;
        padding: 10px 4%;
        background: var(--button-color);
        box-shadow: 0 5px 10px #0002;
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25 ease;
        /* display: none; */
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background: silver;
        /* border-top: 1px solid rgba(0, 0, 0, .2); */
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .dark-mode .navbar .active-nav {
        background: #081b29;
    }

    .navbar.active .active-nav {
        transition-delay: .25s;
        left: 0;
    }
    
    .navbar a {
        display: block;
        font-size: 20px;
        margin: 30px 0;
        transform: translateX(200px);
        transition: .25s ease;
        transition-delay: 0s;
        /* color: #081b29; */
    }

    .dark-mode .navbar a {
        color: var(--Almost-White);
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    /* .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        /* ` */
    

    .navbar a.active {
        color: #00abf0;
    }

    /* .navbar a::before {
        display: none;
    } */

    .Ayomide-imgHover {
        pointer-events: none;
        /* background: var(--Silver); */
        width: 100%;
        height: 12%;
        opacity: .6;
        z-index: -1;
    }

    /* .project-container .project-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */

    .projects .project-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonial-container .testimonial-wrapper {
        padding: 50px 0;
    }

    .testimonial-content .testimonial-slide {
        padding: 30px 20px;
        
    }

    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev {
        display: none;
    }
}

@media (max-width: 520px) {
    html {
        /* font-size: 50%; */
        max-width: 100%;
    }

    .header {
        max-width: 100%;
        height: auto;
    }

    /* #menu-icon {
        margin: 0 0 0 65%;
    } */

    body {
        max-width: 100%;
        height: auto;
        margin: 0 0 0 0;
    }

    .home-content {
        font-size: 10%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
        /* font-size: 10%; */
    }

    .projects .project-container {
        grid-template-columns: 1fr;
    }

    /* .project-container .project-box {
        display: grid;
        grid-template-columns: repeat(3 1fr);
        font-size: 10px;
    } */

    .project-box .project-layer {
        /* position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, .1), var(--second-color));
        color: var(--Almost-White);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 40px;
        opacity: 0;
        transition: 0.5 ease; */
        font-size: 10px;
    }

    /* .testimonial-container .testimonial-wrapper {
        padding: 50px 0;
    }

    .testimonial-content .testimonial-slide {
        padding: 30px 20px;
    }

    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev {
        display: none;
    } */
}

@media (max-width: 462px) {
    html {
        max-width: 100%;
        font-size: 50%;
    }
    
    body {
        max-width: 100%;
        max-height: 100%;
        margin: 0 0 0 0;
        position: relative;
    }

    .header {
        max-width: 100%;
        height: auto;
    }

    /* #menu-icon {
        margin: 0 0 0 60%;
    } */

    .home {
        padding-top: 35px;
    }
    
    .home-content h1 {
        font-size: 52px;
    }

    .social-media a {
        color: #00abf0;
    }
    
    .social-media a:hover {
        background: #081b29;
        color: #00abf0;
    }

    .Ayomide-imgHover {
        height: 10%;
    }

    .education {
        padding: 100px 4% 50px 5%;
    }

    .education .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 40px;
        /* max-width: 10%; */
    }

    .education .heading span {  
        font-size: 40px;
    }

    .testimonial-container .heading {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 40px;
        max-width: 10%;
    }

    .heading span {
        font-size: 10px;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }
}

@media (max-width: 371px) {
    html{
        max-width: 100%;
    }

    /* #menu-icon {
        margin: 0 0 0 40%;
    } */
    
    .home {
        justify-content: center;
        padding-top: 75px;
    }
    
    .home-content {
        /* display: flex; */
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1 {
        font-size: 50px;
    }

    .btn-box {
        width: 305px;
        /* align-items: center; */
        justify-content: center;
        gap: 20px;
    }

    .btn-box .btn {
        width: 135px;
    }

    .education .heading {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .education .heading span {
        font-size: 50px;
    }

    .projects .heading {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

